<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="aObj" class="com.test.spring.ioc5.A">
		<property name="b" ref="bObj" />
	</bean>
	<bean id="bObj" class="com.test.spring.ioc5.B">
		<property name="a" ref="aObj" />
	</bean>

</beans>
