<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="aobj" class="com.test.spring.ioc8.A" c:a="10" c:aName="AObject"/>

	<bean id="bobj" class="com.test.spring.ioc8.B" c:b="20" c:bName="BClass"/>

	<bean id="hello1" class="com.test.spring.ioc8.Hello" c:a-ref="aobj"/>
	
	<bean id="hello2" class="com.test.spring.ioc8.Hello"  c:b-ref="bobj" c:a-ref="aobj"/>
	
	<bean id="hello3" class="com.test.spring.ioc8.Hello" c:_0-ref="bobj" c:_1-ref="aobj"/>
	
</beans>
