<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <import resource="aConfig.xml"/> <import resource="bConfig.xml"/> -->

<!-- 
	<bean id="aobj" class="com.test.spring.ioc1.A" lazy-init="true">
		<property name="a" value="10" />
		<property name="aName" value="AClass" />
	</bean>

	<bean id="bobj" class="com.test.spring.ioc1.B" lazy-init="true">
		<property name="b" value="20" />
		<property name="bName" value="BClass" />
	</bean>
 -->

	<!-- <bean id="hello1" class="com.test.spring.ioc.Hello"> -->
	<bean id="hello1" name="hello1,hello2" class="com.test.spring.ioc1.Hello">
		<property name="a" ref="aobj" />
		<property name="b" ref="bobj" />
	</bean>
	<alias name="hello1" alias="hello3" />

</beans>
